@model Product
<div class="card m-3 rounded">
    <div class="clard-block m-2">
        <h3>
            <img src="~/Images/Products/@Model.ImageName" alt="@Model.ImageName" />
            <span class="float-right bg-success text-white rounded m-2 p-1">
                @Model.Price.ToString("c")
            </span>
        </h3>
        <span class="lead">@Model.Description</span>
    </div>
</div>